.interest-points {
    height: auto;
    min-height: 800px;
    width: 100vw;
}

.interest-list {
  width: 40%;
  margin: 0 auto;
  padding-bottom: 200px;
  transform: translateY(-25px);
}

.trailing-logo {
  display: block;
  width: 20%;
  margin: 100px auto;
}