nav {
  background-color: white;
  /* backdrop-filter: blur(10px); */
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100px;
  z-index: 999;
}

.nav-content-wrapper {
  margin: auto;
  width: 40%;
  height: 100%;
}

.nav-content-wrapper div, .content-wrapper .logo {
  height: 100%;
}

.one-liner {
  display: grid;
  grid-auto-flow: column;
}

.links, .logo {
  height: 100%;
  width: auto;
}

.links * {
  margin: auto;
}

.logo * {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.links {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
}

.links a {
  opacity: 0.3;
}

.current {
  opacity: 1 !important;
}
