/* https://coolors.co/9b581c-662c91-ff7733-33a1fd-fd3e81-fde321-309c76-3abb56-c879ff-f5a6e6 */
/* brown:9b581c purple:662c91 orange:ff7733 pink:33a1fd red:fd3e81 yellow:fde321 green:309c76 blue:3abb56 c879ff f5a6e6 */

/* horticulture | primary producer | agriculture | farm | farm village | farmstead | homestead | grazing area | common | aquaculture facility | farms | fishing area | dairy | field(s) */
.AGRICULTURE,
/* frontier crossing */
.FRONTIER_CROSSING,
/* bay | cove | pan | locale | ridge | mineral/hot springs | well | reservoir | marsh/swamp/vlei | quarry | river crossing | valley | mountain peak | reef | dune | lagoon | plain/flat | rapids | cape | plateau | oasis | harbor | cave | rocks | geographic feature | promontory(-ies) | islands | headland | pier | crater lake | cliff(s) | hill | desert | portage | glacier(s) | gully | geyser | coral reef(s) | gap | gulf | jetty | ghat | hole | crater lakes | gasfield | islet | crater(s) | cove(s) | grassland | gravel area | fracture zone | heath | gorge(s) | island | headwaters | hanging valley | hills | hot spring(s) | furrow | anabranch */
.GEOGRAPHIC_FEATURE,
/* yacht basin | marina */
.MARINA,
/* rest area | halting place */
.REST_AREA,
/* scenic/panoramic view | observation point */
.SCENIC_PANORAMIC_VIEW,
/* historic site | lakeshore | seashore | river scenic area | fishing hunting area | battlefield | winter sport | boat launching ramp | preserve | forest area | recreation area | ski resort | cemetery | historical park | parkway | memorial | fairground | picnic area | wilderness area | park recreation area | forest(s) | fossilized forest | garden(s) | wildlife reserve | nature reserve | forest station | hunting reserve | forest reserve | park */
.PARK_RECREATION_AREA,
/* mountain pass */
.MOUNTAIN_PASS {
  border-left: 10px solid #3abb56;
  background-color: #3abb56;
}

/* foundry | fuel depot | industrial building | factory */
.INDUSTRIAL_BUILDING,
/* manufacturing facility */
.MANUFACTURING_FACILITY,
/* retirement community | townhouse complex | flats/apartment complex | condominium complex | residential estate | residential accommodation */
.RESIDENTIAL_ACCOMMODATION,
/* neighbourhood | administrative area | city center | center */
.CITY_CENTER,
/* junior college/community college | college/university | college | university prep school | university */
.COLLEGE_UNIVERSITY,
/* office building | park headquarters | commercial building */
.COMMERCIAL_BUILDING,
/* electronics | manufacturing | computer data services | public health technologies | diversified finanacials | animal shelter | airline | equipment rental | service | mail/package/freight delivery | bus lines | home appliance repair | cleaning services | oem | tax services | oil natural gas | legal services | construction | tele communications | transport | automobile manufacturing | chemicals | funeral service mortuaries | bridge tunnel operations | automobile | mechanical engineering | services | investment advisors | advertising/marketing | moving storage | savings institution | insurance | computer software | pharmaceuticals | catering | wedding services | agricultural technology | real estate | taxi, limousine shuttle service | bus charter rentals | mining | publishing technologies | cable telephone | import/export distribution | company | asylum | coal mine(s) | estate(s) | brewery | gold mine(s) */
.COMPANY,
/* gold exchange | currency exchange | stock exchange | exchange */
.EXCHANGE,
/* building (point) */
.BUILDING_POINT,
/* business park | industrial area */
.BUSINESS_PARK {
  border-left: 10px solid #9b581c;
  background-color: #9b581c;
}

/* department store */
.DEPARTMENT_STORE,
/* supermarkets hypermarkets | farmers | public | informal | market */
.MARKET,
/* mall | shopping center */
.SHOPPING_CENTER,
/* factory outlet | security products | christmas/holiday store | opticians | house garden: lighting | lottery shop | musical instruments | nail salon | house garden: painting decorating | hobby/free time | newsagents tobacconists | clothing accessories: specialty | dry cleaners | bags leatherwear | pet supplies | clothing accessories: children | construction material equipment | jewelry, clocks watches | clothing accessories: footwear shoe repairs | house garden: curtains/textiles | electrical, office it: consumer electronics | electrical, office it: camera's photography | cd's, dvd videos | laundry | clothing accessories: men | florists | pawn shop | book shops | marine electronic equipment | food drinks: food markets | house garden: carpet/floor coverings | photocopy | boating equipment accessories | mobile phone shop | toys games | specialty foods | clothing accessories: general | food drinks: bakers | tailor shop | gifts, cards, novelties souvenirs | animal services | sports equipment clothing | stamp shop | electrical appliance | electrical, office it: office equipment | photo lab/development | wholesale clubs | house garden: furniture fittings | local specialities | food drinks: butchers | variety store | food drinks: food shops | food drinks: wine spirits | drug store | furniture/home furnishings | electrical, office it: computer computer supplies | cd/video rental | medical supplies equipment | agricultural supplies | beauty salon | house garden: garden centers services | food drinks: fishmongers | beauty supplies | clothing accessories: women | travel agents | retail outlet | recycling shop | house garden: glass windows | hardware | real estate agents | glassware/ceramic | delicatessen | house garden: kitchens bathrooms | betting station | hairdressers barbers | food drinks: grocers | food drinks: green grocers | convenience stores | drive through bottle shop | house garden: do-it-yourself centers | antique/art | shop | store */
.SHOP {
  border-left: 10px solid #fde321;
  background-color: #fde321;
}

/* internet café | tea house | cafe | internet cafe | café | coffee shop | microbrewery/beer garden | pub | café/pub | cafe/pub */
.CAFE_PUB, 
/* german | creole-cajun | dutch | banquet rooms | bistro | israeli | slovak | jamaican | vegetarian | seafood | vietnamese | maltese | sichuan | welsh | chinese | japanese | algerian | californian | fusion | shandong | salad bar | savoyan | spanish | ethiopian | taiwanese | doughnuts | iranian | canadian | american | norwegian | french | hunan | polynesian | afghan | roadside | oriental | swiss | erotic | crêperie | surinamese | egyptian | hungarian | nepalese | barbecue | hot pot | hamburgers | mediterranean | latin american | tapas | british | mexican | guangdong | asian (other) | buffet | sushi | mongolian | international | mussels | thai | venezuelan | rumanian | chicken | soup | kosher | steak house | yogurt/juice bar | italian | korean | cypriot | bosnian | bolivian | dominican | belgian | tunisian | scottish | english | pakistani | czech | hawaiian | maghrib | tibetan | arabian | middle eastern | chilean | shanghai | polish | filipino | sudanese | armenian | burmese | brazilian | scandinavian | bulgarian | soul food | colombian | jewish | pizza | sicilian | organic | greek | basque | uruguayan | cafeterias | finnish | african | corsican | syrian | caribbean | dongbei | russian | grill | take away | fast food | australian | irish | pub food | fondue | lebanese | indonesian | danish | provençal | teppanyakki | indian | mauritian | western continental | peruvian | cambodian | snacks | swedish | macrobiotic | ice cream parlor | slavic | turkish | argentinean | austrian | exotic | portuguese | luxembourgian | moroccan | sandwich | cuban | restaurant */
.RESTAURANT,
/* winery */
.WINERY,
/* restaurant area */
.RESTAURANT_AREA {
  border-left: 10px solid #fd3e81;
  background-color: #fd3e81;
}

/* beach club | hockey club | club association */
.CLUB_ASSOCIATION,
/* thematic sport | squash court | fitness club center | sports center */
.SPORTS_CENTER,
/* netball | football | baseball | race track | multi-purpose | motor sport | cricket ground | rugby ground | ice hockey | athletic | horse racing | basketball | soccer | stadium | athletic field | racetrack */
.STADIUM,
/* water sport */
.WATER_SPORT,
/* weigh scales | weigh station */
.WEIGH_STATION,
/* swimming pool */
.SWIMMING_POOL,
/* golf course */
.GOLF_COURSE,
/* tennis court */
.TENNIS_COURT {
  border-left: 10px solid #ff7733;
  background-color: #ff7733;
}

/* bungalow | cottage | chalet | villa | apartment | holiday rental */
.HOLIDAY_RENTAL,
/* cabins lodges | bed breakfast guest houses | hotel | rest camps | motel | resort | hostel | hotel/motel | resthouse | hammock(s) | guest house */
.HOTEL_MOTEL {
  border-left: 10px solid #c879ff;
  background-color: #c879ff;
}

/* bank | banks | bank(s) */
.BANK,
/* car wash */
.CAR_WASH,
/* private authority | military authority | heliport | closed | medium_airport | large_airport | small_airport | airfield | seaplane_base | public authority | balloonport | airport */
.AIRPORT,
/* atv/snowmobile | boat | bus | motorcycle | truck | van | recreational vehicles | car | automotive dealer */
.AUTOMOTIVE_DEALER,
/* community center */
.COMMUNITY_CENTER,
/* cultural center */
.CULTURAL_CENTER,
/* dentist */
.DENTIST,
/* general practitioner | specialist | doctor */
.DOCTOR,
/* emergency medical service */
.EMERGENCY_MEDICAL_SERVICE,
/* automatic teller machine | cash dispenser */
.CASH_DISPENSER,
/* fire station/brigade */
.FIRE_STATION_BRIGADE,
/* fuel facilities */
.FUEL_FACILITIES,
/* blood bank | personal service | personal care facility | ambulance unit | health care service | leprosarium | sanatorium | hospital | medical center | clinic */
.HEALTH_CARE_SERVICE,
/* special | hospital of chinese medicine | hospital for women children | general | hospital/polyclinic */
.HOSPITAL_POLYCLINIC,
/* courthouse */
.COURTHOUSE,
/* museum */
.MUSEUM,
/* motoring organization office */
.MOTORING_ORGANIZATION_OFFICE,
/* pharmacy | dispensary */
.PHARMACY,
/* ashram | synagogue | mosque | gurudwara | church | temple | place of worship | mission | retreat | temple(s) | religious site | religious center | monastery | convent */
.PLACE_OF_WORSHIP
/* order 1 area | police station | police post */
.POLICE_STATION,	
/* local | post office */
.POST_OFFICE,
/* veterinary facility | veterinarian */
.VETERINARIAN,
/* culinary school | primary school | art school | senior high school | driving school | language school | sport school | pre school | high school | middle school | vocational training | special school | child care facility | school | technical school | military school | agricultural school */
.SCHOOL,
/* library */
.LIBRARY,
/* native reservation | reservation */
.NATIVE_RESERVATION,
/* media facility */
.MEDIA_FACILITY {
  border-left: 10px solid #33a1fd;
  background-color: #33a1fd;
}

/* exhibition convention center */
.EXHIBITION_CONVENTION_CENTER,
/* building | observatory | arch | tunnel | statue | tower | bridge | planetarium | mausoleum/grave | monument | water hole | natural attraction | important tourist attraction | promenade | pyramids | pagoda | castle | palace | hermitage | pyramid | fort | gate | country house | dam | lighthouse | grave */
.IMPORTANT_TOURIST_ATTRACTION,
/* tourist information office */
.TOURIST_INFORMATION_OFFICE,
/* ice skating rink */
.ICE_SKATING_RINK,
/* adventure sports venue */
.ADVENTURE_SPORTS_VENUE,
/* recreational | caravan site | camping ground */
.CAMPING_GROUND,
/* bar | karaoke club | jazz club | private club | wine bar | comedy club | cocktail bar | discotheque | nightlife */
.NIGHTLIFE,
/* amphitheater | concert hall | dinner theater | music center | opera | cabaret | theater | opera house */
.THEATER,
/* beach | beaches */
.BEACH,
/* amusement arcade | amusement place | amusement park */
.AMUSEMENT_PARK,
/* drive-in cinema | cinema */
.CINEMA,
/* bowling | snooker, pool billiard | flying club | dance studio school | sauna, solarium massage | leisure center | spa */
.LEISURE_CENTER,
/* entertainment */
.ENTERTAINMENT,
/* casino */
.CASINO,
/* adventure vehicle | rock climbing | horse riding | mountain bike | hiking | trail system */
.TRAIL_SYSTEM,
/* wildlife park | aquatic zoo marine park | arboreta botanical gardens | zoo | zoos, arboreta botanical garden */
.ZOOS_ARBORETA_BOTANICAL_GARDEN {
  border-left: 10px solid #662c91;
  background-color: #662c91;
}

/* airline access | security gate | station access | access gateway */
.ACCESS_GATEWAY,
/* embassy */
.EMBASSY,
/* province | fourth-order administrative division | first-order administrative division | historical third-order administrative division | seat of a fourth-order administrative division | seat of a second-order administrative division | dependent political entity | populated place | seat of a third-order administrative division | populated places | second-order administrative division | seat of a first-order administrative division | administrative division | populated locality | historical region | historical site | historical populated place | israeli settlement | historical fourth-order administrative division | fifth-order administrative division | historical first-order administrative division | third-order administrative division | historical political entity | historical administrative division | seat of government of a political entity | historical second-order administrative division | capital of a political entity */
.ADMINISTRATIVE_DIVISION,
/* order 5 area | order 8 area | order 9 area | order 2 area | order 7 area | order 3 area | supra national | order 4 area | order 6 area | government office | diplomatic facility | united states government establishment | local government office | customs house | customs post */
.GOVERNMENT_OFFICE,
/* military base | coast guard station | military installation | naval base */
.MILITARY_INSTALLATION,
/* non governmental organization */
.NON_GOVERNMENTAL_ORGANIZATION,
/* pedestrian subway | toilet | road rescue | passenger transport ticket office | public call box | public amenity | communication center */
.PUBLIC_AMENITY,
/* harbor(s) | docking basin | port | port/warehouse facility | dockyard | dock(s) */
.PORT_WAREHOUSE_FACILITY,
/* primary resource/utility | power station | gas-oil separator plant */
.PRIMARY_RESOURCE_UTILITY,
/* prison | prison/correctional facility */
.PRISON_CORRECTIONAL_FACILITY,
/* research facility */
.RESEARCH_FACILITY,
/* welfare organization */
.WELFARE_ORGANIZATION,
/* helipad/helicopter landing */
.HELIPAD_HELICOPTER_LANDING,
/* locality | free trade zone | traffic circle | unknown */
.OTHER {
  border-left: 10px solid #eee;
  background-color: #eee;
}

/* open parking area | parking lot */
.OPEN_PARKING_AREA,
/* parking garage */
.PARKING_GARAGE,
/* coach stop | bus stop | taxi stand | tram stop | public transport stop | metro station | railroad station | bus station | railroad stop */
.PUBLIC_TRANSPORT_STOP,
/* national | railway siding | metro | (sub) urban | railway station */
.RAILWAY_STATION,
/* rent-a-car facility */
.RENT_A_CAR_FACILITY,
/* electric vehicle station */
.ELECTRIC_VEHICLE_STATION,
/* ferry | ferry terminal */
.FERRY_TERMINAL,
/* rent-a-car-parking */
.RENT_A_CAR_PARKING,
/* petrol station */
.PETROL_STATION,
/* bodyshops | tyre (tire) services | repair shops | car glass replacement shops | general car repair servicing | sale installation of car accessories | motorcycle repair | truck repair service | repair facility */
.REPAIR_FACILITY,
/* traffic light */
.TRAFFIC_LIGHT,
/* traffic control department | traffic service center */
.TRAFFIC_SERVICE_CENTER,
/* traffic sign */
.TRAFFIC_SIGN,
/* transport authority/vehicle registration */
.TRANSPORT_AUTHORITY_VEHICLE_REGISTRATION,
/* truck stop */
.TRUCK_STOP {
  border-left: 10px solid #309c76;
  background-color: #309c76;
}
