.interest-point {
    background-color: white;
    padding: 10px 30px;
    border-radius: 10px;
    margin-bottom: 25px;
    transition: 0.3s;
    box-shadow: 0 10px 7px -5px #eee;
    /* border-left: 8px solid #eee;  */
}

.interest-point:hover {
    box-shadow: 0 10px 15px -5px #eee;
    transform: scale(1.01) perspective(1000px) rotateX(1deg);    
}